/* .feature-content {
    padding: 1rem 0;
    overflow: hidden;
} */

/* Media Queries */

@media screen and ( min-width: 991px) {
    .feature-content {
        display: flex;
        align-items: center;
    }
}

.horizonalFloat {
    display: flex;

}

.card-link .cardCenter {
    display: flex;
    align-items: center;
}

/* #feature-one iframe {
    border: 0;
    width: 100%;
} */